<div class="login_box border rounded mt-4 bg-white">
  <div class="m-5">
    <p>Typo CI is a tool that'll check your code for common spelling mistakes.</p>
    <p>
      <%= link_to 'Sign in Via GitHub', user_github_omniauth_authorize_path, class: 'btn btn-outline-primary' %>
    </p>
  </div>
</div>
