<header class="container header" id="header">
    <div class="header__logo">
      <%= link_to root_path, class: 'h4 logo__link' do %>
        <%= image_tag 'typo-ci-logo.svg', width: '48', class: 'logo__image', alt: "Typo CI Logo - It's a sword surrounded by brackets" %>
        <span class="logo__brand">Typo CI</span>
      <% end %>
    </div>
    <div class="header__action">
    </div>
</header>
